.bg-primary {
    background-color: #e2e8f0;
}

.transition-300 {
    transition: transform 0.3s;
}

img{
    max-width: 75%;
}

.hover-scale-110:hover {
    transform: scale(1.1);
    transition: transform 0.3s;
}